cat << EOF
apiVersion: cis.f5.com/v1
kind: F5BigIpCtlr
metadata:
  name: f5bigipctlr.${CLUSTERS_ALIAS[0]}
  namespace: $OPERATOR_NS
spec:
  args:
    agent: as3
    as3-validation: true
    bigip_partition: $PARTITION_DEFAULT
    bigip_url: ${BIGIP_IP[0]}
    custom-resource-mode: true
    insecure: true
    log_as3_response: true
    log_level: INFO
    manage_routes: false
    multi-cluster-mode: primary
    extended-spec-configmap: $CIS_NS/global-cm.${CLUSTERS_ALIAS[0]}
    pool-member-type: nodeport
    share-nodes: true
  bigip_login_secret: bigip-login
  image:
    pullPolicy: IfNotPresent
    repo: k8s-bigip-ctlr-devel
    user: quay.io/f5networks
  ingressClass:
    create: false
  namespace: $CIS_NS
  rbac:
    create: false
  serviceAccount:
    create: false
  version: 747c54aea334532b39bb611bd04d16036d8f6b05
EOF

